# This file is managed by Chef, using the sonarqube_server cookbook.
# Editing this file by hand is highly discouraged!

<%-
if @properties
  @new_resource.hash_to_properties_hash(@properties).sort.each do |k,v|
%>
<%= k %>=<%= v %>
<%-
  end
end
%>
